@import "_header.scss";
@import "_interpolation.scss";

body {
    font: 100% Helvetica, sans-serif;
    padding: 0;
    margin: 0;
}

/* Navigation *********************************************************************************************************/
nav {
    @include animate($animation-speed);
    display: flex;
    flex-flow: row nowrap;
    font-size: 1.5em;
    opacity: 90;
    position: fixed;
    width: 100%;
    z-index: 1;

    a {
        align-items: center;
        color: rgba(100, 100, 100, 1);
        display: flex;
        flex: 1 1 0;
        font-variant: small-caps;
        height: 100%;
        justify-content: center;
        overflow: hidden;
        text-decoration: none;
        @include animate($animation-speed);
    }

    @include setNavEntry("a[href=\"#home\"]", $home-color);
    @include setNavEntry("a[href=\"#about\"]", $about-color);
    @include setNavEntry("a[href=\"#experience\"]", $experience-color);
    @include setNavEntry("a[href=\"#projects\"]", $projects-color);
    @include setNavEntry("a[href=\"#contact\"]", $highlight-color);
}

nav {
    font-size: leastSquaresFit((560: 18, 1400: 24));
}

.big-nav {
    background: rgba(0, 0, 0, 0.25);
    height: $nav-bar-height;

    a {
        .nav-label {
            color: white;
        }

        .nav-icon {
            display: none;
        }
    }
}

.mini-nav {
    height: $nav-bar-height / 2.5;

    a {
        background: rgba(0, 0, 0, 0.8);
        color: rgb(255, 255, 255);

        .nav-icon {
            display: none;
        }
    }
}

.place-holder {
    height: $nav-bar-height;
}

section {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    margin: 0;
    overflow: hidden;
    padding: 0;
    top: $nav-bar-height / 2.5;

    .section-content {
        align-items: center;
        color: white;
        display: flex;
        flex-flow: column nowrap;
        font-size: 1.5em;
        justify-content: center;
        margin: 0;
        padding: 0;
        width: 100%;

        .section-title {
            font-size: leastSquaresFit((280: 32, 1400: 54));
            font-variant: small-caps;
            margin: 1em 0 0 0;
        }

        .section-description {
            max-width: 35em;
            text-align: center;
            width: 90vw;
        }
    }
}

/* Home ***************************************************************************************************************/
#home {
    background: url("../images/unsplash_andrew_collins.jpg") center center;
    background-size: cover;
    height: 100vh;

    object {
        align-items: center;
        color: rgba(255, 255, 255, 1);
        display: flex;
        flex: 1 1 0;
        justify-content: center;
        max-width: 25em;
        text-decoration: none;
        width: 65vw;
    }
}

/* About **************************************************************************************************************/
#about {
    background: $about-color;
    min-height: 100vh;

    .section-content {
        #about-intro {
            font-size: leastSquaresFit((280: 20, 1400: 30));
            text-align: center;
        }

        #about-name {
            font-size: leastSquaresFit((280: 40, 560: 80, 1400: 100));
            font-variant: all-small-caps;

            #about-last-name {
                color: $about-last-name;
            }
        }

        img {
            border: solid $white 0.1em;
            border-radius: 15em;
            max-width: 30em;
            min-width: 10em;
            width: 10vw;
            margin: 1em;
        }
    }
}

/* Experience *********************************************************************************************************/
#experience {
    background: $experience-color;
    min-height: 100vh;

    .section-content {
        #experience-chart-container {
            height: 50vh;
            width: 60vw;

            canvas {
                width: 100%;
            }
        }

        #experience-resume {
            align-items: center;
            display: flex;
            flex-flow: row nowrap;
            height: 4em;
            margin: 1em 0;
            max-width: 20em;
            width: 100%;

            #resume-button {
                align-items: center;
                border: none;
                color: white;
                cursor: pointer;
                display: flex;
                flex-flow: row nowrap;
                font: inherit;
                height: 100%;
                justify-content: center;
                padding: 0;
                width: 100%;
            }

            a {
                align-items: center;
                color: inherit;
                cursor: pointer;
                display: none;
                flex: 1 1 0;
                font-variant: small-caps;
                height: 100%;
                justify-content: center;
                text-decoration: none;
                width: 100%;
            }
        }
    }
}

/* Projects ***********************************************************************************************************/
#projects {
    background: $projects-color;
    min-height: 100vh;

    .section-content {
        .projs {
            align-items: center;
            display: flex;
            flex-flow: row wrap;
            justify-content: center;

            @include setProjEntry(#project-1, $p1c1, $p1c2, $p1c3, $preview-container-border);
            @include setProjEntry(#project-2, $p1c1, $p1c2, $p1c3, $preview-container-border);
            @include setProjEntry(#project-3, $p1c1, $p1c2, $p1c3, $preview-container-border);
            @include setProjEntry(#project-4, $p1c1, $p1c2, $p1c3, $preview-container-border);
            @include setProjEntry(#project-5, $p1c1, $p1c2, $p1c3, $preview-container-border);
            @include setProjEntry(#project-6, $p1c1, $p1c2, $p1c3, $preview-container-border);

            .project {
                .preview-container {
                    cursor: pointer;
                    display: flex;
                    height: 100%;
                    flex-flow: column nowrap;

                    .preview-content {
                        align-items: center;
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: space-between;
                        overflow: hidden;

                        .icon {
                            position: relative;
                            width: 100%;

                            img {
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                        }

                        .preview-overlay {
                            align-items: center;
                            background: $preview-overlay-background-color;
                            display: flex;
                            flex-flow: column nowrap;
                            height: 100%;
                            justify-content: space-around;
                            width: 100%;

                            .preview-title {
                                font-variant: small-caps;
                                margin: 0 1em;
                                text-align: center;
                            }
                        }
                    }
                }

                .modal-container {
                    align-items: center;
                    display: none;
                    flex-flow: column nowrap;
                    justify-content: flex-start;
                    left: 0;
                    margin: 0;
                    overflow-y: scroll;
                    padding: 0;
                    position: fixed;
                    top: 0;
                    width: 100%;
                    height: 100vh;
                    z-index: 1;

                    .modal-content {
                        align-items: center;
                        display: flex;
                        flex-flow: column nowrap;
                        justify-content: flex-start;
                        margin: 0;
                        max-width: 36em;
                        width: 80%;

                        .modal-title, .modal-subtitle {
                            font-variant: small-caps;
                        }

                        .modal-title {
                            font-size: leastSquaresFit((280: 30, 560: 50, 1400: 50));
                            margin: 0.5em 0 0.5em 0;
                            text-align: center;
                        }

                        .modal-icon-container {
                            border: 2px solid black;
                            max-width: $preview-container-width;
                            width: 100%;

                            .icon {
                                height: 100%;
                                overflow: hidden;
                                position: relative;
                                width: 100%;

                                img {
                                    position: absolute;
                                }
                            }
                        }

                        .modal-subtitle {
                            font-size: 1.5em;
                            margin: 1em 0 0 0;
                        }

                        .modal-description {
                            margin: 0.5em 0 0 0;

                            a {
                                color: $p1c3;
                            }
                        }

                        .modal-subtitle, .modal-description, .modal-list {
                            align-self: flex-start;
                        }

                        .modal-picture {
                            align-self: center;
                            margin: 0.75em 0 0 0;
                            width: 85%;
                        }

                        .modal-list > li {
                            align-self: flex-start;
                            margin-left: 2em;
                        }

                        .modal-buttons {
                            align-items: center;
                            display: flex;
                            flex-flow: row wrap;
                            justify-content: center;
                            width: 100%;

                            .modal-button {
                                align-items: center;
                                border: none;
                                color: rgba(255, 255, 255, 1);
                                cursor: pointer;
                                display: flex;
                                flex: 1 1 0;
                                flex-flow: row nowrap;
                                font: inherit;
                                height: 3em;
                                justify-content: center;
                                margin: 0 1em;
                                max-width: 10em;
                                overflow: hidden;
                            }

                            .modal-close {
                                align-items: center;
                                background: none;
                                border: none;
                                cursor: pointer;
                                display: flex;
                                font-size: 1.5em;
                                height: 1.25em;
                                justify-content: center;
                            }
                        }
                    }
                }
            }
        }
    }
}

ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

/* Contact ************************************************************************************************************/
#contact {
    align-items: center;
    background: $contact-color;
    color: $font-color;
    display: flex;
    flex-flow: column nowrap;
    font-size: 2em;
    min-height: 15vh;
    justify-content: center;
    margin: auto;

    .contact-title {
        font-size: leastSquaresFit((280: 32, 1400: 54));
        font-variant: small-caps;
        margin: 1em 0 0.5em 0;

        .highlight {
            color: $highlight-color;
        }
    }

    .contact-item {
        align-items: center;
        display: flex;
        flex-flow: column nowrap;
        height: 40%;
        justify-content: center;
        margin: auto;
        width: 100%;

        a {
            align-items: center;
            border: 0.1em solid rgba(0, 0, 0, 0);
            cursor: pointer;
            display: flex;
            height: 1.5em;
            justify-content: center;
            margin: 0 0.5em;
            text-decoration: none;
        }

        #bitbucket {
            color: $bitbucket-color;
        }

        #email {
            color: $email-color;
        }
    }

    .footer {
        font-size: 0.5em;
        margin: 2em 0 1em 0;
        text-align: center;
    }
}

.overflow-hidden {
    overflow: hidden;
}

@import "_iconAnimation.scss";
@import "_breakpoints.scss";
