* {
  background-color: #2e2e2e;
  color: white;
  font-family: Consolas, serif;
}


.accordion {
  display: flex;
  flex-direction: column;
  min-width: 40em;
  width: 60%;

  .entry {
    background-color: #fcad26;
    display: flex;
    flex-flow: row wrap;
    transition: height 0.25s;
    width: 100%;

    .heading {
      background-color: #823aa0;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 8em;

      img {
        background-color: purple;
        flex-grow: 1;
      }

      .content {
        background-color: #232323;
        flex-basis: 0;
        flex-grow: 2;

        .title {
          font-size: 2em;
        }

        .tags {
          display: flex;
          list-style-type: none;
        }
      }
    }
  }

  .loader {
    &:hover {
      background-color: #2ecc71;
    }

    background-color: #e65a5a;
    cursor: pointer;
    padding: 1em;
    text-align: center;
  }
}
